{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-21T09:38:12+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  148043
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            b05b68299403bec8791ea4aa9622bc21
//      Signature:      eyJpdiI6Ijhld3BIN2tJUzBEYk90bXZ1RUpDeVE9PSIsInZhbHVlIjoiM3A5d3VPV2l1WnVBSkpTN0F6WkJyaFRXOHpmU3dxZWNZXC9VUmlYZjhvVGk0dWx3N0UzdDErelpmV3VleWR1NDRRNlg0YWxKQXlEc1lhK3YzaDZYSEsrOUd0V0czQkRHVlZKOUZGK01mRjNwVDlcL2QySlwvWStiUXNLUmFLd3JFcmhiMTRWNWoycjVnY09rQk1KaDh6MDBvbXBJdE5tQUJvRnBTSmNJUXFIU1BFY1NnM3pGZVBtK0tSdDZnRVpLSk9zNHFreDhmZWdPOE5yczQ3bTNhYTlqaHYrc2JFa3ljMk1RNHVENGE4dGt0amp0akxpaEo1c1VEcHhWUXY1M2daNjc0SFwvUFFjNzh5eFZaN0pVbGFsVEphTXoxdjV0eUFEMVJyXC9TdFpSS1dNRWVZc3Y5TUNaakt3R2tadFRWYzFFczlZT3NOcnl5RXJLbm1tZ1ZhcEJuK1VuS1FJc21wdmRXMWtTWjJraXoyR1o1dnpXQXhMdjR3QkRLbmk2a3FRWUhRWnc5N3poZXNGaUNsTWc5THdzcDBaNlM5ZXFDdVgxT1JINWZwQzF6dVhNPSIsIm1hYyI6ImJkZDMxMzQxZmMzYTg5ZTE3ODQ1OGRhNDQ3OTg5MTEyYTAyNDE5Yzc0NzgyOTk2ZTg3Y2ZmOGU1NzdmNTYxZTAifQ==
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div   class="{{ classes }} background-image lazyload" data-sizes="auto" data-bgset="
    {{ image | img_url: '200x' }} 200w, 
    {{ image | img_url: '400x' }} 400w, 
    {{ image | img_url: '600x' }} 600w, 
    {{ image | img_url: '800x' }} 800w">
	{{ child }}    
</div>


