{%- assign t = template | split: '.' | first -%}

{{ collection[product.handle] }}

<section id="breadcrumbs" class="wrapper">
  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/">Home</a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ page.url | downcase }}" aria-current="page">{{ page.title }}</a>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ product.url | downcase }}" aria-current="page">{{ product.title }}</a>
          </li>
        {%- when 'collection' and collection.handle -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url | downcase }}" aria-current="page">{{ collection.title }}</a>
            </li>
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url | downcase }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url | downcase }}" aria-current="page">{{ blog.title }}</a>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ article.url | downcase }}" aria-current="page">{{ article.title }}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ request.path | downcase }}" aria-current="page">{{ page_title }}</a>
          </li>
      {%- endcase -%}
    </ol>
  </nav>

  <button class="breadcrumbs__search-button hide small--show medium--show">
    {% render 'search-icon' %}
  </button>
</section>

<section id="breadcrumbs__search" class="wrapper large--hide" style="display: none;">
{% render 'header-search-bar' %}
</section>