{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-01-18T16:24:03+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  147891
//      Project:        310
//      Environment:    1410 - qa-testing
//      MD5:            47fdf8246ec91394968a48bc790f38b2
//      Signature:      eyJpdiI6IkROeGxWMGVvdURweVBlbXZrc0hEWmc9PSIsInZhbHVlIjoiSFExemZ2VklHbnN5Yk00NHZtTTFnRzhnQVNMbVN6UFFCZ0FVWTB3ejhWTVRwVnVJVkFJNEpOUlI3OEdZbXhpeCt1U0tnZWkzVlNRekRzUVFOMjFPdVFQK3h4d2UxbmlHbkNnYmxaRGtsXC9LTkRBemJENzVcLzlqWU9kSnpcL0pIenBOUXgwMTF0MjlhN0VZVHdzd1FNNkxSVG8xeXRIWWdlQWZvc2JCRkZXMlprSVZadCtQNjhsR1dCUlZ6VWJSZGhMblhSZnJIVG9OYXdwNUQ1V0o4Y0t6VWpFS3FvTzF5WEkzdmpHalZBT2IyYWU1a3BBZnBIaldpTjc4MzhjNVAxNEV2YVpjaXdYVDdVQ3NhQW1kSlwvemlnK21id1Z2aFhOb1Z6SEFFV2tQSDlcL1BHSGlkeXNmbUxxTE81bEp6N2E4U1RxcE11RllkSXJ3ZzNRaUxrbzZwdnZITmtxdXVuMTRXWk9LaDU4RFNzQVVLWTMrWncxNUVrTVhVOERYM0p4ZU1KVHZOU0MyXC84RE85d0NKT3FtRmo2QT09IiwibWFjIjoiYmE1ZDc4OTNlYWFiMGJlZmVlNDUxZWQ0NzY5ZDI5OWU1ODJmODI2YzdhNWQ2MjU2YzU1MjQ2OWU5ZDkxZTQ5ZCJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<div class="grid__item nav-breakpoint-down--one-third one-quarter medium-down--one-whole cart__summary-container">
	<div class="cart__summary">
		<h6>Summary</h6>
		<table>
			<tr {% if section.settings.shipping-price == blank %}class="cart__summary-border"{% endif %}>
			    <td class="cart__summary-key p-t-0 {% if section.settings.shipping-price != blank %}p-b-15{% else %}p-b-20{% endif %}">SUBTOTAL</td>
			    <td class="cart__summary-value p-t-0 {% if section.settings.shipping-price != blank %}p-b-15{% else %}p-b-20{% endif %}">{{ cart.items_subtotal_price | money }}</td>
		  	</tr>
		  	{% if section.settings.shipping-price != blank %}
		  	<tr class="cart__summary-border">
			    <td class="cart__summary-key p-b-20 p-t-0">DELIVERY</td>
			    <td class="cart__summary-value p-b-20 p-t-0">{{ section.settings.shipping-price }}</td>
		  	</tr>
		  	{% endif %}
		  	<tr class="cart__summary-total">
			    <td class="product__title-price p-b-0">
	    			<div class="product__price">
	    				<p class="cart__summary-total cart__summary-key m-b-0">TOTAL</p>
	    				<p class="product__price-prefix"> {{ section.settings.price-prefix }}</p>
	    			</div>
			    </td>
			    <td class="product__title-price cart__summary-value p-b-0">
				    <div class="product__price">
				    	<p class="product-price">{{ cart.total_price | money }}</p>
				    </div>
				</td>
		  	</tr>
		</table>

		{% comment %} Express checkout {% endcomment %}

		{% if additional_checkout_buttons %}
			<div class="additional-checkout-buttons">
				<p>Express checkout</p>
				{{ content_for_additional_checkout_buttons }}
			</div>
		{% endif %}

		<a href="/checkout" id="checkout-button" class="main-button m-t-10 small--hide medium--hide flex">CHECKOUT</a>
		<div class="flex flex-wrap">
			<div class="flex flex-center cart__trustmark">
				{% include 'summary-trustmark-1' %}
				<p class="m-b-0 m-l-10 cart__trustmark-text">{{ section.settings.trustmark-1 }}</p>
			</div>
			<div class="flex flex-center cart__trustmark">
				{% include 'summary-trustmark-2' %}
				<p class="m-b-0 m-l-10 cart__trustmark-text">{{ section.settings.trustmark-2 }}</p>
			</div>
		</div>
	</div>
	<div class="flex flex-wrap flex-align-center cart__payment-icons ">
		{%- for type in shop.enabled_payment_types -%}
      {% capture payment_icon %}{% include type %}{% endcapture %}
      {% unless payment_icon contains "Liquid error" %}
        {{ payment_icon }}
      {% endunless %}
    {%- endfor -%}
    {% comment %} <img src="{{ 'icon-splitit.png' | asset_img_url: '50x' }}" /> {% endcomment %}
	{% comment %} <svg aria-labelledby="osm-klarna-title" role="img" width="60px" height="30px" viewBox="0 0 60 30" version="1.1" xmlns="http://www.w3.org/2000/svg"><title id="osm-klarna-title">Klarna badge</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M55.5,30 L4.5,30 C2.025,30 0,27.975 0,25.5 L0,4.5 C0,2.0265 2.025,0 4.5,0 L55.5,0 C57.9735,0 60,2.0265 60,4.5 L60,25.5 C60,27.975 57.9735,30 55.5,30" fill="#FFB3C7"></path><path d="M45.74265,18.1758 C44.72265,18.1758 43.89615,17.3928 43.89615,16.4238 C43.89615,15.4578 44.72265,14.6733 45.74265,14.6733 C46.76265,14.6733 47.58915,15.4578 47.58915,16.4238 C47.58915,17.3928 46.76265,18.1758 45.74265,18.1758 L45.74265,18.1758 Z M47.59515,13.0188 L47.59515,13.4568 C47.02065,13.0638 46.32615,12.8313 45.57615,12.8313 C43.59165,12.8313 41.98365,14.4408 41.98365,16.4238 C41.98365,18.4083 43.59165,20.0163 45.57615,20.0163 C46.32615,20.0163 47.02065,19.7853 47.59515,19.3938 L47.59515,19.8288 L49.63515,19.8288 L49.63515,13.0188 L47.59515,13.0188 Z" fill="#000000"></path><path d="M16.04295,9.9843 L13.83045,9.9843 C13.83045,11.7963 12.99945,13.4583 11.54595,14.5473 L10.66995,15.2028 L14.06445,19.8303 L16.85445,19.8303 L13.73145,15.5733 C15.21045,14.0988 16.04295,12.1158 16.04295,9.9843" fill="#000000"></path><polygon fill="#000000" points="8.13525 19.83045 10.40025 19.83045 10.40025 9.98445 8.13525 9.98445"></polygon><polygon fill="#000000" points="17.51175 19.82745 19.64625 19.82745 19.64625 9.98445 17.51175 9.98445"></polygon><path d="M38.3613,12.8364 C37.5483,12.8364 36.7773,13.0899 36.2628,13.7874 L36.2628,13.0209 L34.2333,13.0209 L34.2333,19.8279 L36.2868,19.8279 L36.2868,16.2504 C36.2868,15.2154 36.9813,14.7084 37.8183,14.7084 C38.7123,14.7084 39.2283,15.2424 39.2283,16.2369 L39.2283,19.8279 L41.2638,19.8279 L41.2638,15.4974 C41.2638,13.9149 40.0038,12.8364 38.3613,12.8364" fill="#000000"></path><path d="M24.24015,18.1758 C23.22015,18.1758 22.39365,17.3928 22.39365,16.4238 C22.39365,15.4578 23.22015,14.6733 24.24015,14.6733 C25.26015,14.6733 26.08665,15.4578 26.08665,16.4238 C26.08665,17.3928 25.26015,18.1758 24.24015,18.1758 L24.24015,18.1758 Z M26.09265,13.0188 L26.09265,13.4568 C25.51815,13.0638 24.82365,12.8313 24.07365,12.8313 C22.08915,12.8313 20.48115,14.4408 20.48115,16.4238 C20.48115,18.4083 22.08915,20.0163 24.07365,20.0163 C24.82365,20.0163 25.51815,19.7853 26.09265,19.3938 L26.09265,19.8288 L28.13265,19.8288 L28.13265,13.0188 L26.09265,13.0188 Z" fill="#000000"></path><path d="M31.2846,13.90725 L31.2846,13.02075 L29.1981,13.02075 L29.1981,19.82775 L31.2891,19.82775 L31.2891,16.64925 C31.2891,15.57675 32.4516,15.00075 33.2571,15.00075 C33.2661,15.00075 33.2736,15.00075 33.2826,15.00075 L33.2826,13.02075 C32.4546,13.02075 31.6926,13.37625 31.2846,13.90725" fill="#000000"></path><path d="M51.7983,17.4126 C51.0918,17.4126 50.5188,17.9856 50.5188,18.6936 C50.5188,19.3986 51.0918,19.9716 51.7983,19.9716 C52.5048,19.9716 53.0778,19.3986 53.0778,18.6936 C53.0778,17.9856 52.5048,17.4126 51.7983,17.4126" fill="#000000"></path></g></svg> {% endcomment %}
	</div>
	<div class="cart__note">
		<textarea id="cart-note" placeholder="Special instructions" name="note">{{cart.note}}</textarea>
	</div>
</div>