{% if linklists[section.settings.top-menu] %}

	{% assign top_menu = linklists[section.settings.top_desktop_menu] %}

	<div class="site-header__navigation wrapper">

		<div class="site-header__navigation-inner">

			<div class="site-header__navigation-mobile-search">
				{% include 'header-search-bar' %}
			</div>

			<ul class="site-header__navigation-list">

				{% for link in top_menu.links %}

				<li class="site-header__navigation-item">

						<a href="{{ link.url }}" class="caps mobile-next {% if collections[link.object.handle].featured_image == blank %}site-header__navigation-link--no-image{% endif %}">
							{% if collections[link.object.handle].featured_image != blank %}
								{% comment %}
								{{ collections[link.object.handle].featured_image | image_url: width: 214, height: 112, crop: "center" | image_tag: width: 107, height: 56, alt: link.title, widths: '107, 214', loading: 'lazy' }}
								{% endcomment %}
							
								<img data-swap="{{collections[link.object.handle].featured_image | image_url: width: 214, height: 112, crop: "center"}}" width="107" height="56" class="swapimgMobile" alt="Eat Sleep Live {{link.title}}">

							{% endif %}
							<span class="caps">{{ link.title }}</span>
							
							{% if link.links.size > 0 %}
							<button class="mobile-next">
								<img src="{{ 'chevron-right-new.svg' | asset_url }}" alt="next-icon" width="24" height="24" loading="lazy">
							</button>
							{% endif %}
						</a>


						{% for block in blocks %}

							{% if block.type == "collection_list" and link.title == block.settings.nav_link %}

								{% render 'nav-collection', link: link, blocks: blocks %}

							{% elsif link.title == block.settings.nav_link %}

								{% render 'nav-dropdown', link: link, blocks: blocks %}

							{% endif %}

						{% endfor %}

					</li>

				{% endfor %}

			</ul>

			<ul class="site-header__mobile-list">
				<li class="site-header__navigation-item">
					<a href="/collections/ex-display">Ex-Display</a>
				</li>
				<li class="site-header__navigation-item">
					<a href="/pages/colours-samples">Order samples</a>
				</li>
				<li class="site-header__navigation-item">
					<a href="/pages/get-in-touch">Get in touch</a>
				</li>
				<li class="site-header__navigation-item">
					{% if customer %}
						<a href="https://account.eatsleeplive.co.uk/?consent_id=eefb078d-0592-4c84-a0cc-a9eb1d5a55a8&consent=a1m1p1&_gl=1*1j9s1we*_gcl_aw*R0NMLjE3Njk1OTE5NDguQ2owS0NRaUFoT2ZMQmhDQ0FSSXNBSlBpb3BQQVNyYmhwbzZsVUV0Umt5LWU4OFdOUGFIOGdtUnZOb1ZrZl9EcUhnanhqaWdMWklvem5NZ2FBcC13RUFMd193Y0I.*_gcl_au*MTY0MDgxMTA4MC4xNzYzMTI0NjU4">{% include 'account-icon' %} <span>account</span></a>
					{% else %}
						<a href="https://account.eatsleeplive.co.uk/?consent_id=eefb078d-0592-4c84-a0cc-a9eb1d5a55a8&consent=a1m1p1&_gl=1*1j9s1we*_gcl_aw*R0NMLjE3Njk1OTE5NDguQ2owS0NRaUFoT2ZMQmhDQ0FSSXNBSlBpb3BQQVNyYmhwbzZsVUV0Umt5LWU4OFdOUGFIOGdtUnZOb1ZrZl9EcUhnanhqaWdMWklvem5NZ2FBcC13RUFMd193Y0I.*_gcl_au*MTY0MDgxMTA4MC4xNzYzMTI0NjU4">{% include 'account-icon' %} <span>login</span></a>
					{% endif %}
				</li>
				{% comment %}
				<li class="site-header__navigation-item">
					<a href="/a/wishl-wishlist">
						{% include 'wishlist-icon' %}
						<span>wishlist</span>
					</a>
				</li>
			{% endcomment %}
			</ul>

		</div>

	</div>

{% endif %}
