<div class="finance__option">
    <div class="finance__option-image">
        <img src="{{ block.settings.image | img_url: '110x' }}" alt="{{ block.settings.image.alt }}">
    </div>

    <div class="finance__option-content">

        {%- if block.settings.price != blank -%}
            <span>From</span>
            <span class="finance__option-price">£{{ block.settings.price }}</span>
        {%- endif -%}
        
        <div class="finance__option-description">{{ block.settings.description }}</div>
    </div>

    <div class="finance__option-links">
        <a href="{{ routes.cart_url | downcase }}">Available at Checkout</a>
    </div>
</div>