<style>
	.section-{{ section.id }} .video-container {
		background: linear-gradient(0deg, rgba(31, 24, 7, 0.75), rgba(31, 24, 7, 0.75)), url('{{ section.settings.image.src | img_url: '1400x' }}');
	}

	@media screen and (max-width: 768px) {
		.section-{{ section.id }} .video-container {
			{% if section.settings.mobile_image.src != blank %}
				background: linear-gradient(0deg, rgba(31, 24, 7, 0.75), rgba(31, 24, 7, 0.75)), url('{{ section.settings.mobile_image.src | img_url: '768x' }}');
			{% else %}
                background: linear-gradient(0deg, rgba(31, 24, 7, 0.75), rgba(31, 24, 7, 0.75)), url('{{ section.settings.image.src | img_url: '768x' }}');
			{% endif %}
		}
	}
  .section-{{ section.id }} .no-video.video-content .video-container {
    background: url('{{ section.settings.image.src | img_url: '1400x' }}');
    pointer-events: none;
    background-size: cover;
    background-position: center;
  }
  .no-video.video-content button {
    display: none;
  }
</style>

<div class="callout-and-video-section section-{{ section.id }}">
  
  <div class="text-content">

    <div class="wrapper">

      {% if section.settings.title != blank or section.settings.text != blank %}
        <div class="flex flex-wrap flex-center"  data-aos-delay="50">
          <div class="one-half medium--four-fifths small--one-whole text-center">
            {% if section.settings.title != blank %}
              <{{ section.settings.title_heading_type }} class="{{ section.settings.title_heading_size }} m-b-10">{{ section.settings.title }}</{{ section.settings.title_heading_type }}>
            {% endif %}

            {% if section.settings.text != blank %}

              <div class="secondary-color">{{ section.settings.text | split: "[/split]" | first }}</div>
              {% if section.settings.text contains "[/split]" %}
                <a href="#" class="read-more">Read more</a>
                <div class="secondary-color text-split">{{ section.settings.text | split: "[/split]" | last }}</div>
              {% endif %}

            {% endif %}

            {% if section.settings.button-url != blank %}
              <a style="margin: 2.4rem auto 0;" class="main-button" href="{{ section.settings.button-url | downcase }}">
                <span>{{ section.settings.button-text }}</span>
                <img style="margin-left: 8px;" alt="arrow right" src="{{ 'icon-arrow-right.svg' | asset_url }}" width="18" height="18" alt="">
              </a>
            {% endif %}

            
          </div>
        </div>
      {% endif %}

    </div>

  </div>

  <div class="{% if section.settings.youtube_url == blank %}no-video{% endif %} video-content">

    <div id="ytplayer" class="wrapper">

      <div id="video-{{ section.id }}" class='video-container' onclick="showYouTube('{{ section.settings.youtube_url }}')">
        
        <button aria-label="video play button">
          <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M53.333 31.9993L13.333 10.666V53.3327L53.333 31.9993Z" stroke="#9F5130" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>

      </div>
      
    </div>
    
  </div>
  
</div>

<script async>

  $('.read-more').on('click', function(e) {
    e.preventDefault();

    $(this).next('div').css('display', 'block');
    $(this).css('display', 'none');

  });

  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
  function showYouTube(url) {
    var videoID = url.split("?v=");
    
    // Replace the 'ytplayer' element with an <iframe> and
    // YouTube player after the API code downloads.
    var player;
      player = new YT.Player('ytplayer', {
        height: '100%',
        width: '100%',
        videoId: videoID[1],
        playerVars: { 'autoplay': 1, 'controls': 1 }
      });
  };
</script>

{% schema %}
{
  "name": "Callout and Video",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Key callout here"
    },
    {
      "type": "select",
      "id": "title_heading_type",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "h1",
        },
        {
          "value": "h2",
          "label": "h2",
        },
        {
          "value": "h3",
          "label": "h3",
        },
        {
          "value": "h4",
          "label": "h4",
        },
        {
          "value": "h5",
          "label": "h5",
        },
        {
          "value": "h6",
          "label": "h6",
        }
      ],
      "default": "h4"
    },
     {
      "type": "select",
      "id": "title_heading_size",
      "label": "Heading Size",
      "options": [
        {
          "value": "h1",
          "label": "h1",
        },
        {
          "value": "h2",
          "label": "h2",
        },
        {
          "value": "h3",
          "label": "h3",
        },
        {
          "value": "h4",
          "label": "h4",
        },
        {
          "value": "h5",
          "label": "h5",
        },
        {
          "value": "h6",
          "label": "h6",
        }
      ],
      "default": "h4"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut quam euismod, commodo orci sed, placerat nisi. Ut porta at justo et consectetur. In hac habitasse</p>"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button-url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Video Placeholder Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Video Placeholder Image"
    },
    {
      "type": "text",
      "id": "youtube_url",
      "label": "Video URL"
    }  
  ],
  "presets": [
    {
      "name": "Callout and Video",
      "category": "Video"
    }
  ]
}
{% endschema %}